<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="MamCommonIp"
             value="http://10.31.245.68:8080"/>
        <add key="Mode"
             value="1"/>
        <add key="IsPortSupported"
             value="true"/>
        <add key="SerialPort"
             value="COM4"/>
    </appSettings>
</configuration>
